.container {
}

.keyboard {
    
}

.keys {
    display: flex;
    font-size: 200;
}

.key {
    width: 120px;
	height: 120px;
	background-color: #F34A53;
	border-radius: 100%;
    margin: 40px auto 0;
    font-size: 100px;
}