.container {
    text-align: center;
}

.keyboard {
    text-align: center;
}

.keys {
    display: flex;
    font-size: 200;
}

.key {
    width: 60px;
	height: 60px;
	background-color:	#00CED1;
	border-radius: 100%;
    margin: 40px auto 0;
    font-size: 50px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 5px solid #0000CD;
}
.key#space {
    width: 500px;
    color: crimson;
    
}
body {
    background:url(https://www.publicdomainpictures.net/pictures/260000/nahled/abstract-background-dark-blue.jpg);
    font-family: 'VT323', monospace;
}
.container {
    color: red;
    font-size: 30px;
 }
.correct-key-down {
    background-color: lawngreen;
    
}
.wrong-key-down {
    background-color: red;
    color: white;
    
}
.fire-key {
    background-color: darkorange;
    width: 60px;
	height: 60px;
	border-radius: 100%;
    margin: 40px auto 0;
    font-size: 50px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border: 5px solid #0000CD;
}
